version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: webuddy-mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: webuddy_wallet
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: webuddy-redis
    ports:
      - "6379:6379"

volumes:
  mysql-data:
